.silainterview ul {
	list-style: none;
}

.silainterview .sila-description {
    float: left;
    width: 300px;
}

.silainterview .sila-questions {
    padding-left: 300px;
}

.silainterview .sila-video-player {
    padding-left: 300px;
}
